# Supabase Configuration
VITE_SUPABASE_URL=https://kcavasttvezmhaixuvmd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXZhc3R0dmV6bWhhaXh1dm1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1Nzg3NzAsImV4cCI6MjA5OTE1NDc3MH0.ziCgpTC852Ins1jbZuq62lpuLEVyuhTl6VP7sURNnOA
